h2{
    font-family: "Fredoka";
    color: #2C3748;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.88px;
    margin-bottom: 40px;
}

.questionText{
    font-family: "Inter";
    color: #2F3237;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.33px;
    margin-bottom: 40px;
}

.buttonContainer{
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}
.buttonQuestion{
    width: 35%;
    height: 80px;
    border-radius: 30px;
    border: 5px solid #EF7E4E;
    cursor: pointer;
    font-family: "Fredoka";
    font-size: 35px;
    font-weight: 700;
    line-height: 42.35px;
}