.caja2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
<<<<<<< HEAD
  max-width: 800px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
=======
  max-width: 800px;
  margin: 0 auto;
>>>>>>> 3cbb2487 (correcion errores 2)
}

.dropdown-container {
  width: 100%;
}

.dropdown-toggle {
<<<<<<< HEAD
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
=======
  width: 100%;
>>>>>>> 3cbb2487 (correcion errores 2)
  background-color: #ffe9ca;
  border: 1px solid #ccc;
  color: #333;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
}

.dropdown-toggle:hover {
  background-color: #fba987;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
<<<<<<< HEAD
  width: 100%; /* Asegura que el menú tenga el mismo ancho que el botón */
=======
  width: 100%;
>>>>>>> 3cbb2487 (correcion errores 2)
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: rgb(248, 222, 207);
  font-family: 'Fredoka One', sans-serif;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #fba987;
}

#titulo10 {
  color: #3a4454;
  background-color: white;
  font-size: 23px;
  font-family: 'Fredoka One', sans-serif;
}

#re {
  color: #ef7e4e;
  text-align: center;
  font-size: 40px;
  font-family: 'Fredoka One', sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
}

#n {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-family: 'Fredoka One', sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.nombre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.preguntas {
  color: white;
}

.pregunta-actual {
<<<<<<< HEAD
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 600px; /* Ajusta el ancho máximo */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-top: 20px; /* Añade un margen superior */
  margin-left: 20px; /* Añade un margen izquierdo para alinearlo */
}

.pregunta-actual h2 {
  font-size: 18px; /* Ajusta el tamaño del texto */
  margin-bottom: 10px; /* Añade un margen inferior */
  color: black; /* Asegura que el texto sea negro */
=======
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
  font-family: 'Fredoka One', sans-serif;
}

.pregunta-actual h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #3a4454; /* Color azul */
>>>>>>> 3cbb2487 (correcion errores 2)
}

.answer-buttons {
  display: flex;
<<<<<<< HEAD
  justify-content: center; /* Centra los botones */
  margin-top: 20px; /* Añade un margen superior */
  width: 100%; /* Ocupa todo el ancho disponible */
=======
  justify-content: center;
  margin-top: 20px;
  width: 100%;
>>>>>>> 3cbb2487 (correcion errores 2)
}

.answer-button {
  background-color: #ffffff;
<<<<<<< HEAD
  color: #ef7e4e;
  border: 2px solid #ef7e4e; /* Añade un borde naranja */
  padding: 15px 30px; /* Ajusta el relleno para hacer los botones más grandes */
  border-radius: 10px; /* Ajusta el radio del borde */
  cursor: pointer;
  margin: 10px; /* Añade un margen alrededor de cada botón */
  font-size: 16px; /* Ajusta el tamaño del texto */
=======
  color: #000000; /* Letra en negro */
  border: 2px solid #ef7e4e;
  padding: 16px 32px; /* Reducir tamaño del botón */
  cursor: pointer;
  margin: 10px;
  font-size: 18px; /* Reducir tamaño de la fuente */
  border-radius: 50px; /* Botones redondeados */
  font-family: 'Fredoka One', sans-serif;
>>>>>>> 3cbb2487 (correcion errores 2)
}

.answer-button:hover {
  background-color: #fba987;
  color: #ffffff;
}

#titulo11 {
  color: #3a4454;
  background-color: white;
  font-size: 23px;
  font-family: 'Fredoka One', sans-serif;
}

#pq {
  color: #3a4454;
  font-family: 'Fredoka One', sans-serif;
<<<<<<< HEAD
  width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 20px; /* Añade un margen izquierdo para alejarlo del borde */
=======
  width: 100%;
  text-align: left;
  margin-left: 20px;
>>>>>>> 3cbb2487 (correcion errores 2)
  font-size: 20px;
}

#no {
  color: #ffffff;
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
  font-size: 19px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: 300; /* Ajuste para que el texto sea más delgado */
}

.continue-button {
  background-color: #fba987;
  color: #3a4454; /* Letra en azul */
  border: 2px solid #ef7e4e;
  padding: 20px 50px; /* Aumentar tamaño del botón */
  cursor: pointer;
  margin: 10px;
  font-size: 22px; /* Aumentar tamaño de la fuente */
  border-radius: 50px; /* Botón redondeado */
  font-family: 'Fredoka One', sans-serif;
}

.continue-button:hover {
  background-color: #fb8451;
  color: #ffffff;
}

@media (max-width: 768px) {
  .dropdown-toggle,
  .dropdown-menu {
    width: 90%;
    max-width: none;
  }

  #re {
    font-size: 30px;
  }

  #n {
    font-size: 20px;
  }
  .pregunta-actual {

    margin-top: 5px;
 
  }
  .pregunta-actual h2 {
    font-size: 16px;
   
  }

  .answer-button {
<<<<<<< HEAD
    padding: 12px 24px; /* Ajusta el relleno para pantallas pequeñas */
    font-size: 14px; /* Ajusta el tamaño del texto para pantallas pequeñas */
=======
    padding: 12px 24px; 
    font-size: 16px; 
>>>>>>> 3cbb2487 (correcion errores 2)
  }
  
  .continue-button {
    padding: 16px 40px; 
    font-size: 20px; 
  }
}