.caja2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.dropdown-container {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  background-color: #ffe9ca;
  border: 1px solid #ccc;
  color: #333;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
}

.dropdown-toggle:hover {
  background-color: #fba987;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: rgb(248, 222, 207);
  font-family: 'Fredoka One', sans-serif;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #fba987;
}

#titulo10 {
  color: #3a4454;
  background-color: white;
  font-size: 23px;
  font-family: 'Fredoka One', sans-serif;
}

#re {
  color: #ef7e4e;
  text-align: center;
  font-size: 40px;
  font-family: 'Fredoka One', sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
}

#n {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-family: 'Fredoka One', sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.nombre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.preguntas {
  color: white;
}

.pregunta-actual {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
  font-family: 'Fredoka One', sans-serif;
}

.pregunta-actual h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #3a4454; /* Color azul */
}

.answer-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.answer-button {
  background-color: #ffffff;
  color: #000000; /* Letra en negro */
  border: 2px solid #ef7e4e;
  padding: 16px 32px; /* Reducir tamaño del botón */
  cursor: pointer;
  margin: 10px;
  font-size: 18px; /* Reducir tamaño de la fuente */
  border-radius: 50px; /* Botones redondeados */
  font-family: 'Fredoka One', sans-serif;
}

.answer-button:hover {
  background-color: #fba987;
  color: #ffffff;
}

#titulo11 {
  color: #3a4454;
  background-color: white;
  font-size: 23px;
  font-family: 'Fredoka One', sans-serif;
}

#pq {
  color: #3a4454;
  font-family: 'Fredoka One', sans-serif;
  width: 100%;
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

#no {
  color: #ffffff;
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
  font-size: 19px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: 300; /* Ajuste para que el texto sea más delgado */
}

.continue-button {
  background-color: #fba987;
  color: #3a4454; /* Letra en azul */
  border: 2px solid #ef7e4e;
  padding: 20px 50px; /* Aumentar tamaño del botón */
  cursor: pointer;
  margin: 10px;
  font-size: 22px; /* Aumentar tamaño de la fuente */
  border-radius: 50px; /* Botón redondeado */
  font-family: 'Fredoka One', sans-serif;
}

.continue-button:hover {
  background-color: #fb8451;
  color: #ffffff;
}

@media (max-width: 768px) {
  .dropdown-toggle,
  .dropdown-menu {
    width: 90%;
    max-width: none;
  }

  #re {
    font-size: 30px;
  }

  #n {
    font-size: 20px;
  }
  .pregunta-actual {

    margin-top: 5px;
 
  }
  .pregunta-actual h2 {
    font-size: 16px;
   
  }

  .answer-button {
    padding: 12px 24px; 
    font-size: 16px; 
  }
  
  .continue-button {
    padding: 16px 40px; 
    font-size: 20px; 
  }
}